<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>cli_izdat</title>
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">  
</head>
<body> 
  <header>
    <p class="last-login">Last login: <ac><span id="login-time"></span></ac> on ttys000</p>
      <script>
         const now = new Date();
         const options = { weekday: 'short', month: 'short', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };
         document.getElementById('login-time').textContent = now.toLocaleString('en-US', options);
      </script>
    <h1>
<pre>
░█▀█░░░░░█▀▀░█░█░█▀▄░█▀█░█▄█░█▀█░█▀█░█▀▀░█▀▀░█▀▄
░█░█░░░░░█▀▀░█░█░█▀▄░█░█░█░█░█▀█░█░█░█░░░█▀▀░█▀▄
░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀░▀░▀░▀░▀░▀░▀▀▀░▀▀▀░▀░▀
</pre>
     </h1>
<nav>
    <span class="nav-tilde">~</span><span class="nav-sep">/</span><a href="index.html" class="active">home</a><span class="nav-sep">/</span><a href="archive/index.html">archive</a>
</nav>
  </header>
  <main>
    <section class="row-with-media">
        <div class="row-text">
            <h2>What is CLI-izdat?</h2>
            <p>CLI-izdat is a system of visual communication developed from the ongoing study of the aesthetic and technological relationships between Eastern Bloc samizdat practices, command-line interfaces, and early diskmag subculture.</p>
            <p>Visual and text references are collected in the <a href="https://www.are.na/aleg-lutz/cli-izdat" target="_blank">are.na channel</a> of the same name.</p>
          </div>
        <div class="row-media">
        <img src="assets/images/chiponboard-ditheredBW.png" alt="">
      </div>        
    </section>
    <section class="row-with-media">
      <div class="row-text">
        <h2>Who is typing?</h2>
        <p>Alég Lutohin – an educator and researcher with a focus on digitalization of historical memory.</p>
      </div>
      <div class="row-media">
        <img src="assets/images/AL-best-bw.png" alt="">
      </div>
    </section>
    
    <section class="row-with-media">
      <div class="row-text">
        <h2>Other Projects</h2>
        <ul>
          <li>/Forgot Your Protest?</li>
          <li>/MemoActs Educational Programm</li>
          <li>/more at <a href="https://memosynth.net/" target="_blank">memosynth.net</a></li>
        </ul>
      </div>
      <div class="row-media">
        <img src="assets/images/Punks-dithered-bw.png" alt="">
      </div>
    </section>
  </main>
  <footer>
    <p>2026 Alég's Web Exercises</p>
  </footer>
</body>
</html>
